---
import Base from '../layout/Base.astro';
---

<Base
  title="Now | Joban Mendpara"
  description="Why you should hire me"
  class="bg-background"
>
  <div class="h-52 block"></div>
  <div class="max-w-3xl p-4 xl:text-base max-h-fit leading-relaxed md:px-24 min-h-fit flex flex-col justify-around gap-4">
    <a class="items-center text-sm text-gray-400 hover:text-gray-200 hover:underline mb-10 flex align-middle w-fit" href="/">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="18" height="18" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M5 12l14 0"></path>
          <path d="M5 12l6 6"></path>
          <path d="M5 12l6 -6"></path>
        </svg>
      </span>
      Back
    </a>
    <h2 class="text-3xl text-foreground font-bold">Hire Me</h2>
    <hr class="border-t-1 border-primary"/>
    <p class="mb-2">
      Before considering my hire, please review my list of <a href="/skills">skills</a> and
      <a href="/files/resume.pdf">resume</a> to ensure they align with your requirements.
    </p>
    <div class="mb-5">
      <h3 class="mb-2"><b>Government</b></h3>
      <ul class="list-disc pl-10 space-y-1">
        <li>Clearance Level: Secret (Active)</li>
        <li>Citizenship: U.S. Citizen</li>
      </ul>
    </div>
    <div class="mb-5">
      <h3 class="mb-2"><b>Contract Work</b></h3>
      <p>
        If your project needs a Web Developer with experience in Vue, React, Node or overall software
        architecture and solution building, I could help you by promising a months in solving that.
        You can get in touch via an email on <a href="mailto:me@joban.dev">me@joban.dev</a>
      </p>
    </div>
    <div class="mb-5">
      <h3 class="mb-2"><b>Full Time Hire</b></h3>
      <p>If you are considering to hire me full time, here's a few more things I'd like you to know</p>
    </div>
    <div class="mb-5">
      <h3 class="mb-2"><b>Core Values</b></h3>
      <p>
        I adhere to certain non-negotiable core values. While I understand the importance of protecting business
        implementations and USPs, I hope these values do not pose any issues for you.
      </p>
      <p>
        I would really like to work with companies that:
      </p>
      <ul class="list-disc pl-10 space-y-1">
        <li>share my passion for open source and side projects</li>
        <li>working remotely</li>
      </ul>
    </div>
    <div class="mb-5">
      <h3 class="mb-2"><b>Remote Work Details</b></h3>
      <ul class="list-disc pl-10 space-y-1">
        <li>Location: Richmond, Virginia</li>
        <li>Timezone: Eastern Time Standard / UTC -5</li>
        <li>Email: <a href="mailto:me@joban.dev">me@joban.dev</a></li>
      </ul>
    </div>
</Base>
