---
import Base from "../layout/Base.astro";
---

<Base
  title="Now | Joban Mendpara"
  description="What I'm working on"
  class="bg-background"
>
  <div class="h-52 block"></div>
  <div
    class="max-w-3xl p-4 xl:text-base max-h-fit leading-relaxed md:px-24 min-h-fit flex flex-col justify-around gap-4"
  >
    <a
      class="items-center text-sm text-gray-400 hover:text-gray-200 hover:underline mb-10 flex align-middle w-fit"
      href="/"
    >
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-arrow-left"
          width="18"
          height="18"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M5 12l14 0"></path>
          <path d="M5 12l6 6"></path>
          <path d="M5 12l6 -6"></path>
        </svg>
      </span>
      Back
    </a>
    <h2 class="text-3xl text-foreground font-bold">Now</h2>
    <hr class="border-t-1 border-primary" />
    <p>I'm currently prioritizing my work for <em>ABC Healthcare</em> and <em>Casepoint</em> at this time.</p>
  </div>
</Base>
