---
import Base from '../layout/Base.astro';
---

<Base
  title="Skills | Joban Mendpara"
  description="What I know"
  class="bg-background"
>
  <div class="h-52 block"></div>
  <div class="max-w-3xl p-4 xl:text-base max-h-fit leading-relaxed md:px-24 min-h-fit flex flex-col justify-around gap-4">
    <a class="items-center text-sm text-gray-400 hover:text-gray-200 hover:underline mb-10 flex align-middle w-fit" href="/">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="18" height="18" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M5 12l14 0"></path>
          <path d="M5 12l6 6"></path>
          <path d="M5 12l6 -6"></path>
        </svg>
      </span>
      Back
    </a>
    <h2 class="text-3xl text-foreground font-bold">Skills</h2>
    <hr class="border-t-1 border-primary"/>
    <p>An incomplete list of tech that I've worked with professionally and few that I learned out of curiosity.</p>
    <div class="mb-5">
      <h3 class="mb-5">Languages</h3>
      <p>→ Typescript</p>
      <p>→ C#</p>
      <p>→ Python</p>
      <p>→ Lua</p>
    </div>
    <div class="mb-5">
      <h3 class="mb-5">Core Theory</h3>
      <p>→ Functional Programming</p>
      <p>→ Object Oriented Programming</p>
      <p>→ Version Management</p>
      <p>→ Internet Security</p>
    </div>
    <div class="mb-5">
      <h3 class="mb-5">Front-End</h3>
      <p>→ Semantic HTML + HTML5</p>
      <p>→ CSS3</p>
      <p>→ Vue</p>
      <p>→ React</p>
    </div>
    <div class="mb-5">
      <h3 class="mb-5">Mobile</h3>
      <p>→ React Native</p>
    </div>
    <div class="mb-5">
      <h3 class="mb-5">Back-End</h3>
      <p>→ Express</p>
      <p>→ ASP.NET</p>
    </div>
    <div class="mb-5">
      <h3 class="mb-5">Database</h3>
      <p>→ PostgreSQL</p>
      <p>→ Redis</p>
      <p>→ MongoDB</p>
    </div>
    <div class="mb-5">
      <h3 class="mb-5">Infra / DevOps</h3>
      <p>→ Github Actions</p>
      <p>→ Digital Ocean</p>
      <p>→ Azure DevOps</p>
      <p>→ Docker</p>
    </div>
  </div>
</Base>
