---
import Base from '../layout/Base.astro';
---

<Base
  title="Tools | Joban Mendpara"
  description="My favorite hardware and software"
  class="bg-background"
>
  <div class="h-52 block"></div>
  <div class="max-w-3xl p-4 xl:text-base max-h-fit leading-relaxed md:px-24 min-h-fit flex flex-col justify-around gap-4">
    <a class="items-center text-sm text-gray-400 hover:text-gray-200 hover:underline mb-10 flex align-middle w-fit" href="/">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="18" height="18" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M5 12l14 0"></path>
          <path d="M5 12l6 6"></path>
          <path d="M5 12l6 -6"></path>
        </svg>
      </span>
      Back
    </a>
    <h2 class="text-3xl text-foreground font-bold">Tools</h2>
    <hr class="border-t-1 border-primary"/>
    <p>Here are a couple of my favorite tech and tools</p>
    <h3>Hardware</h3>
    <ul class="list-disc pl-10 space-y-2">
      <li>
        <p><em>Macbook Pro - M1</em>
          , my primary workstation. I'm a big fan of Apple products and Unix-based operating systems and the full
          control it allows the user.
        </p>
      </li>
      <li>
        <p><em>MoErgo Glove 80</em>
          , a fantastic, customizable, and lightweight split ergonomic keyboard. I've flashed my own keymap to fit my
          needs of an efficient and minimal keyboard workflow.
        </p>
      </li>
      <li>
        <p><em>iPhone 11 Pro Max</em>
          , it's a phone. It's addictive and it works lol.
        </p>
      </li>
    </ul>
    <h3>Software</h3>
    <ul class="list-disc pl-10 space-y-2">
      <li>
        <p><em>Neovim</em>
          , my code editor of choice. I used to use VSCode and I loved it, but as I programmed more and more, I wanted
          to know more about what's going on under the hood and how I can change it to my liking to be more efficient
          workflow-wise. Eventualy, I recreated the VSCode experience in Neovim and from there I tweaked my config over
          time to bring me to the current state of my Neovim config which I am very happy with.
        </p>
      </li>
      <li>
        <p><em>Arc</em>
          , my main browser. A chromium based browser with a great and passionate team behind the project. My
          favorite feature is "spaces". I cannot go back to the disorganization that I was living with during the Chrome,
          and FireFox days.
        </p>
      </li>
      <li>
        <p><em>WezTerm</em>
          , my terminal emulator. Named after its creator, Wez Furlong, Wezterm is GPU accelerated terminal emulator
          configurable with the Lua programming lanuage. It runs fast (though to be honest I've never encountered a
          slow terminal emulator) and can make SSH connections to remote hosts.
        </p>
      </li>
    </ul>
  </div>
</Base>
