---
import Base from "../layout/Base.astro";
---

<Base
  title="Work | Joban Mendpara"
  description="What I've worked on"
  class="bg-background"
>
  <div class="h-52 block"></div>
  <div
    class="max-w-3xl p-4 xl:text-base max-h-fit leading-relaxed md:px-24 min-h-fit flex flex-col justify-around gap-4"
  >
    <a
      class="items-center text-sm text-gray-400 hover:text-gray-200 hover:underline mb-10 flex align-middle w-fit"
      href="/"
    >
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-arrow-left"
          width="18"
          height="18"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M5 12l14 0"></path>
          <path d="M5 12l6 6"></path>
          <path d="M5 12l6 -6"></path>
        </svg>
      </span>
      Back
    </a>
    <h2 class="text-3xl text-foreground font-bold">Work</h2>
    <hr class="border-t-1 border-primary" />
    <p>
      Here a couple of projects I'm working on or have worked on in the past
    </p>
    <div class="flex flex-row flex-wrap gap-3">
      <div class="border border-primary px-2 py-3 space-y-3">
        <p class="text-lg font-semibold">ABC Healthcare</p>
        <p>
          HR portal with for admins to manage employees and clients. It is
          accompanied with a mobile app for employees to clock in and out of
          shifts enforced by geolocation. The web application is built with <em
            >Vue</em
          >, <em>Nuxt</em>, and
          <em>PostgreSQL</em>. The mobile application is built with <em
            >React Native</em
          >.
        </p>
        <div class="flex flex-col gap-1">
          <img src="/images/abc_healthcare/user.png" alt="user page" />
          <img src="/images/abc_healthcare/timecard.png" alt="timecard" />
          <img src="/images/abc_healthcare/account.png" alt="account page" />
        </div>
      </div>
      <div class="border border-primary px-2 py-3 space-y-3">
        <p class="text-lg font-semibold">
          Grocs <span class="text-gray-500">(WIP)</span>
        </p>
        <p>
          Local first mobile application for couples to manage shopping lists in
          an opinionated way. No deployment is available at the moment. Demo available upon request.
        </p>
      </div>
    </div>
  </div>
</Base>
